<!DOCTYPE html>
<html class="no-js">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
		<meta charset="utf-8"/>
		<title>{{title}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="/static/style/application.css"/>
		<!--[if lt IE 9]><script src="/static/script/vendor/html5shiv.js"></script><![endif]-->
	</head>

	<body data-locale="{{user.locale}}">
		<h1>{{title}}</h1>

		<p>
			<a class="js-fb-authorize" href="#" target="_top">login</a><br/>
			<a class="js-fb-add" href="#">add to page</a>
		</p>

		<div id="fb-root"></div>

		<script src="/static/script/application.js"></script>
	</body>
</html>
