<!DOCTYPE html>
<html class="no-js">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
		<meta charset="utf-8"/>
		<title>{{title}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="/static/style/application.css"/>
		<!--[if lt IE 9]><script src="/static/script/vendor/html5shiv.js"></script><![endif]-->
	</head>

	<body class="{{isMobile ? 'mobile' : 'desktop'}}" data-locale="{{user.locale}}">
		<div id="fb-root"></div>

		<h1>{{title}}</h1>

		<p>
			{% if not user %}
			<a class="js-fb-login" href="#" target="_top">login</a><br/>
			{% elseif not signedRequest %}
			<a class="js-fb-logout" href="#" target="_top">logout</a><br/>
			{% endif %}

			{% if signedRequest.page.admin %}
			<a class="js-fb-add" href="#">add to page</a>
			{% endif %}
		</p>

		<script src="/static/script/application.js"></script>
	</body>
</html>
